
                <div class="col-md-12">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Data Peserta</h3>
                            <a class="btn btn-default">Tambah Peserta</a>
                        </div>

                        <!--TOLONG NANTI TAMBAHKAN PRINT-->

                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nomor Peserta</th>
                                    <th>Nama Peserta</th>
                                    <th>Email</th>
                                    <th>Nomor Hp</th>
                                    <th>Asal Sekolah</th>
                                    <th>Kelas</th>
                                    <th>Ruang Try Out</th>
                                    <th>Status Absen</th>
                                    <th>Opsi</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>111111</td>
                                    <td>Andi Asandi</td>
                                    <td>andiasandi@gmail.com</td>
                                    <td>082232232232</td>
                                    <td>SMAN 2 Probolinggo</td>
                                    <td>XII IPA 2</td>
                                    <td></td>
                                    <td>tidak_hadir</td>
                                    <td>
                                        <a class="btn btn-danger">Hapus</a>
                                        <a class="btn btn-default">Absen</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
