@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/OpenSans-Regular.ttf");
}
body {
  font-family: "OpenSans-Regular";
}

.dt-button{
  background-color: #303441;
  color: #fff;
  padding: 5px 10px;
  margin-right: 2px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: none;
  font-size: 13px;
  outline: none;
  float: left;
}

.dataTables_filter{
  text-align: right;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modal-content{
  border: none;
  background-color: #5E6680;
  color: white;
}
.modal-header{
  border: none;
}
.modal-footer{
  border: none;
}

.panel-modal{
  background-color:#303441 ;
  box-shadow:0px 7px 25px #303441;
  color: white;
}

.form-tambah{
  color: white;
}
